@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --text-primary: #FFFFFF;
  --text-primary-inverse: #090909;
  --text-primary-main: #7724AA;
  --text-secondary: #A6AAAE;
  --text-secondary-inverse: #494A4D;
  --background-bubble-primary: #6aa7b3;
  --background-bubble-secondary: #F7F7F7;
  --border-primary: #CED0D2;
  --background-soft: #F3E5F5;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --text-tertiary: #6B6F73;
  --shadow-primary: 0px 6px 16px 0px #0A0A0A1F, 0px 4px 14px 0px #0A0A0A14, 0px 8px 10px 0px #0A0A0A14;
  --processing-dot-size: 4px;
  --font-family-primary: 'Ninuto';
}


.dark {
  --text-primary: #090909;
  --text-primary-inverse: #FFFFFF;
  --text-primary-main: #9946B9;
  --text-secondary: #494A4D;
  --text-secondary-inverse: #A6AAAE;
  --background-bubble-primary: #ffbe98;
  --background-bubble-secondary: #232324;
  --background-soft: #200033;
  --border-primary: #262626;
  --background-start-rgb: 23, 23, 23;
  --background-end-rgb: 28, 28, 28;
  --font-family-primary: 'Nunito';
}

/* latin-ext */
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/varelaround/v20/w8gdH283Tvk__Lua32TysjIfqcuPP9g.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v26/XRXI3I6Li01BKofiOc5wtlZ2di8HDIkhdTQ3jw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: 'Nunito';
}

.chatbot-section {
  background-color: var(--text-primary);
  box-shadow: var(--shadow-primary);
  border: 1px solid var(--border-primary);
  flex: 1; /* This will make it fill the available space */
  overflow: hidden; /* Prevents it from stretching beyond the viewport */

}

.chatbot-header {
  padding-top: 0;
  border-bottom: 1px solid var(--border-primary);;
}

.chatbot-header svg {
  fill: var(--text-primary-inverse);
}

.chatbot-text-primary {
  color: var(--text-primary-inverse);
}

.chatbot-text-secondary {
  color: var(--text-secondary);
}

.chatbot-text-secondary-inverse {
  color: var(--text-secondary-inverse);
}

.chatbot-text-tertiary {
  color: var(--text-tertiary);
}

.chatbot-input {
  color: var(--text-primary-inverse);
  border: 1px solid var(--border-primary);
  font-size: 16px;
}

.chatbot-input::placeholder {
  color: var(--text-secondary);
}

.chatbot-send-button {
  background-color: var(--text-primary-inverse);
  color: var(--text-primary);
}

.chatbot-send-button svg {
  fill: var(--text-primary);
}

.chatbot-button-primary {
  background-color: var(--text-primary-inverse);
  color: var(--text-primary);
}

.chatbot-button-secondary {
  border: 1px solid var(--border-primary);
  color: var(--text-primary-inverse);
}

.chatbot-faq-link {
  border: 1px solid var(--border-primary);
  border-radius: 24px;
  color: var(--background-bubble-primary);
}

.chatbot-faq-link svg {
  fill: var(--text-tertiary);
}

.talk-bubble {
  text-align: left;
  display: inline-block;
  position: relative;
  color: var(--text-primary);
  background: linear-gradient(to left, #42275a, #734b6d); /* Gradient from pink to orange */
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  padding: 10px;
}

.talk-bubble.user {
  text-align: right;
  color: var(--text-primary);
  background: linear-gradient(to right, #ffafbd, #ffc3a0); /* Gradient from pink to orange */
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  padding: 10px;
}

.talk-bubble svg {
  position: absolute;
  left: -1px;
  bottom: 2px;
  transform: translateY(100%) rotateY(180deg);
  fill: #734b6d; /* Set to left-most color for non-user bubbles */
}

.talk-bubble.user svg {
  right: -1px;
  left: auto;
  bottom: 2px;
  transform: translateY(100%);
  fill: #ffc3a0; /* Set to right-most color for user bubbles */
}

.dot-flashing {
  position: relative;
  /* padding-left: 8px; */
  /* padding-right: 8px; */
  width: var(--processing-dot-size);
  height: var(--processing-dot-size);
  border-radius: 100%;
  background-color: var(--text-tertiary);
  color: var(--text-tertiary);
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}

.dot-flashing::before,
.dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -6px;
  width: var(--processing-dot-size);
  height: var(--processing-dot-size);
  border-radius: 100%;
  background-color: var(--text-tertiary);
  color: var(--text-tertiary);
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 6px;
  width: var(--processing-dot-size);
  height: var(--processing-dot-size);
  border-radius: 100%;
  background-color: var(--text-tertiary);
  color: var(--text-tertiary);
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dot-flashing {
  0% {
    background-color: var(--text-tertiary);
  }

  50%,
  100% {
    background-color: rgba(152, 128, 255, 0.2);
  }
}

.prompt-button {
  background-color: var(--background-soft);
  color: var(--text-primary-main);
}

/* Toggle Styles */
.toggle-background {
  background-color: var(--background-bubble-primary);
}

.toggle-boarder {
  border: 1px solid var(--background-bubble-primary);
}

.vercel-link {
  color: var(--text-primary-inverse);
  background-color: var(--text-primary);
  border-color: var(--border-primary);
}

.vercel-link hr {
  border-color: var(--border-primary);
}

.word-cloud-container {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  text-align: center; /* Centers the word cloud SVG */
}

@media (max-width: 768px) {
  .chatbot-section {
    padding: 2rem 1rem; /* Adjusts padding for smaller screens */
  }
  .grid {
    grid-template-columns: 1fr; /* Stacks charts vertically on smaller screens */
  }
}

.visualization-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.word-cloud-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: auto;
}

@media (max-width: 640px) {
  .chatbot-section {
    margin: 0 10px;
  }
}


.button-dash {
  padding: 4px 11px; /* Adjust as needed */
  /* border-radius: 2px; /* Adjust as needed */
  color: var(--text-primary); /* White text */
  background-color: #000000; /* Primary background color */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for color changes */
}

.dark .button-dash {
  background-color: #ffffff; /* Dark mode background color */
  color: var(--text-primary); /* Dark mode text color */
}

.word-cloud-container {
  width: 100%; /* Full width of its parent to use available space */
  height: 400px; /* Set a fixed height or maintain aspect ratio */
  display: flex; /* Use flex to center the SVG if needed */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin: 0 auto; /* Ensure it's centered horizontally if within a wider section */
}